dash==2.14.2
dash-bootstrap-components
numpy
pandas #==1.3.5 # use this specific version of pandas, since pythonAnywhere uses it and else pickle errors
#csv
#pickle
#collections
#requests
#datetime
#locale
#collections
#matplotlib
